<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="adminuser/base::layout(~{::section})">

<head>
    <meta charset = "UTF-8" />
</head>
<body>
<section>
    <canvas id="chart1"></canvas>
    <br>
    <br>
    <canvas id="chart2"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctx1 = document.getElementById('chart1').getContext('2d');
        var ctx2 = document.getElementById('chart2').getContext('2d');
        var data1 =  new Array(12);
        var data2 =  new Array(12);
        let url1 = `http://localhost:8082/ticketFerMonth`;
        fetch(url1)
          .then(response => response.json())
          .then(result => {
            result.forEach((value, index) => {
              data1[index] = parseInt(result[index]);
            });
            var chart1 = new Chart(ctx1, {
              type: 'bar',
              data: {
                labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                datasets: [{
                  label: 'Biểu đồ lượt vé',
                  data: data1,
                  backgroundColor: 'rgba(75, 192, 192, 0.2)',
                  borderColor: 'rgba(75, 192, 192, 1)',
                  borderWidth: 1
                }]
              },
              options: {
                responsive: true,
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });
          })
          .catch(error => {
            console.error(error);
          });

        let url2 = `http://localhost:8082/revenueFerMonth`;
        fetch(url2)
          .then(response => response.json())
          .then(result => {
            result.forEach((value, index) => {
              data2[index] = parseInt(result[index]);
            });
            var chart2 = new Chart(ctx2, {
              type: 'bar',
              data: {
                labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                datasets: [{
                  label: 'Biểu đồ doanh thu',
                  data: data2,
                  backgroundColor: 'rgba(192, 75, 192, 0.2)',
                  borderColor: 'rgba(192, 75, 192, 1)',
                  borderWidth: 1
                }]
              },
              options: {
                responsive: true,
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });
          })
          .catch(error => {
            console.error(error);
          });
    </script>
</section>
</body>
</html>
