<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="adminuser/base::layout(~{::section})">

<head>
    <meta charset = "UTF-8" />
</head>
<body>
<section>
    <div class="card ms-3 me-3">

        <div class="card-body">

            <h1 class="text-center"> Thống kê </h1>
            <!--Start -->
            <div class="form-group">
                <input  oninput="statistic_movie()"
                        name="start"
                        type="date"
                        class="form-control"
                        id="movie_start_field"
                        placeholder="Nhập ngày bắt đầu"
                >
            </div>
            <!--End-->
            <div class="form-group">
                <input  oninput="statistic_movie()"
                        name="end"
                        type="date"
                        class="form-control"
                        id="movie_end_field"
                        placeholder="Nhập ngày kết thúc"
                >
            </div>
            <div class="table-statistic">
                <button class="btn btn-outline-primary-sm"
                        onclick="statistic_ticket_onclick()"
                        id="button_statistic_ticket">Lượt vé tăng dần</button>
                <button class="btn btn-outline-primary-sm"
                        onclick="statistic_revenue_onclick()"
                        id="button_statistic_revenue">Doanh thu tăng dần</button>
                <table class="table mt-3">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Phim</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Lượt vé</th>
                        <th scope="col">Doanh thu</th>
                    </tr>
                    </thead>
                    <tbody class="statistic_movie_result"></tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>
