<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="adminuser/base::layout(~{::section})">

<head>
    <meta charset = "UTF-8" />
</head>
<body>
<section>
    <div class="card me-3 ms-3">
        <div class="card-body">
            <h1 class="text-center"> THÊM ĐỒ ĂN VẶT MỚI </h1>
            <div class="container-fluid m1-1">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <form action="#"
                              th:object="${offer}"
                              enctype="multipart/form-data"
                              method="POST"
                              th:action="@{/admin/add_offer_process}"
                        >

                            <!--Movie-->
                            <div class="form-group">
                                <label  for="movie_field" class="form-label">Phim:</label><br>
                                <select class="form-control"
                                        name="movie"
                                        id="movie_field"
                                        required>
                                    <option>--Chọn phim--</option>
                                    <option
                                            th:each="movie : ${movieList}"
                                            th:value="${movie.id}"
                                            th:text="${movie.name}"></option>
                                </select>
                            </div>
                            <!--Price-->
                            <div class="form-group">
                                <label  for="percent_field" class="form-label">Phần trăm:</label><br>
                                <input
                                        name="percent"
                                        type="text"
                                        class="form-control"
                                        id="percent_field"
                                        placeholder="Nhập phần trăm giảm"
                                >
                            </div>

                            <!--StartAt-->
                            <div class="form-group">
                                <label  for="startAt_field" class="form-label">Bắt đầu:</label><br>
                                <input class="form-control"
                                       type="datetime-local"
                                        name="startAt"
                                        id="startAt_field"
                                        required>
                                </input>
                            </div>
                            <!--EndAt-->
                            <div class="form-group">
                                <label  for="endAt_field" class="form-label">Bắt đầu:</label><br>
                                <input class="form-control"
                                       name="endAt"
                                       id="endAt_field"
                                       type="datetime-local"
                                       required>
                                </input>
                            </div>
                            <!--Button Confirm-->
                            <div class="container text-center mb-3">
                                <button class="btn bg-primary text-white boldText"> Thêm </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-select-1.13.9/dist/js/bootstrap-select.js}"></script>
</body>
</html>
