<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="adminuser/base::layout(~{::section})">

<head>
    <meta charset = "UTF-8" />
</head>
<body>
<section>
    <div class="card me-3 ms-3">
        <div class="card-body">
            <h1 class="text-center"> CẬP NHẬT </h1>
            <div class="container-fluid m1-1">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <form action="#"
                              th:object="${offer}"
                              enctype="multipart/form-data"
                              method="POST"
                              th:action="@{'/admin/update_offer_process/'+${offer.id}}"
                        >
                            <div class="form-group">
                                <label  for="movie_field" class="form-label">Phim:</label><br>
                                <select
                                        class="form-control"
                                        name="movie"
                                        id="movie_field"
                                        required>
                                    <option th:value="${offer.movie.id}"
                                            th:text="${offer.movie.name}"></option>
                                    <option
                                            th:each="movie : ${movieList}"
                                            th:value="${movie.id}"
                                            th:text="${movie.name}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label  for="percent_field" class="form-label">Phần trăm:</label><br>
                                <input
                                        th:value="${offer.percent}"
                                        name="percent"
                                        type="text"
                                        class="form-control"
                                        id="percent_field"
                                        placeholder="Cập nhật giá"
                                />
                            </div>
                            <!--StartAt-->
                            <div class="form-group">
                                <label  for="startAt_field" class="form-label">Bắt đầu:</label><br>
                                <input class="form-control"
                                       type="datetime-local"
                                       name="startAt"
                                       id="startAt_field"
                                       th:value="${offer.startAt}"
                                       required>
                                </input>
                            </div>
                            <!--EndAt-->
                            <div class="form-group">
                                <label  for="endAt_field" class="form-label">Bắt đầu:</label><br>
                                <input class="form-control"
                                       name="endAt"
                                       id="endAt_field"
                                       type="datetime-local"
                                       th:value="${offer.endAt}"
                                       required>
                                </input>
                            </div>
                            <div class="container text-center mb-3">
                                <button class="btn bg-primary text-white boldText"> Cập nhật </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
