<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normaluser/base::layout(~{::section})">

<head>
    <meta charset = "UTF-8" />
</head>
<body>
<section>
    <div class="card ms-3 me-3">

        <div class="card-body">

            <h1 class="text-center boldText"> LỊCH SỬ ĐẶT VÉ </h1>
            <table class="table mt-3">
                <thead>
                <tr style="font-size: 20px;">
                    <th scope="col">Id</th>
                    <th scope="col">Phim</th>
                    <th scope="col">Tên phim</th>
                    <th scope="col">Phòng chiếu</th>
                    <th scope="col">Ghế ngồi</th>
                    <th scope="col">Giá tiền</th>
                    <th scope="col">Trạng thái</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="booking : ${bookingList} ">
                    <td th:text="${booking.id}"></td>
                    <td>
                        <img scr="" class="my_movie_poster" th:src="@{'/img/'+${booking.showtimes.movie.poster}}" alt="movie poster" />
                    </td>
                    <td th:text="${booking.showtimes.movie.name}"></td>
                    <td th:text="${booking.showtimes.time}+' ngày '+${booking.showtimes.date}"></td>
                    <td th:text="${#strings.listJoin(booking.seatList, ' ')}"></td>
                    <td th:text="${booking.total}"></td>
                    <div th:if="${booking.status == 1}">
                        <td style="color: #e4a8a8; font-weight: bold;">Đang chờ xác nhận
                            <br>
                            <a th:href = "@{'/user/cancel_booking/'+${booking.id}}" class="btn btn-outline-warning btn-sm boldText"> Huỷ đặt </a>
                        </td>
                    </div>
                    <div th:if="${booking.status == 2}">
                        <td style="color: #e4a8a8; font-weight: bold;">Đã được xác nhận</td>
                    </div>
                    <div th:if="${booking.status == 3}">
                        <td style="color: #e4a8a8; font-weight: bold;">Đã hủy</td>
                    </div>
                </tr>
                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul th:if="${totalPages != 0}" class="pagination">
                    <li th:if="${currentPage != 0}" class="page-item">
                        <a th:href="@{'/user/history_transaction/'+${currentPage-1}}"  class="page-link" href="#"> Trang Trước </a></li>
                    <li th:classappend="${currentPage==iter-1?'active':''}"
                        th:each="iter : ${#numbers.sequence(1,totalPages)}"
                        class="page-item">
                        <a th:href="@{'/user/history_transaction/'+${iter-1}}" class="page-link" href="#">
                            <span th:text="${iter}"> </span>
                        </a></li>
                    <li th:if="${currentPage+1 != totalPages}" class="page-item">
                        <a th:href="@{'/user/history_transaction/'+${currentPage+1}}" class="page-link" href="#"> Trang Sau </a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>
</body>
</html>
