<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normaluser/base::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<section>
    <div class="card ms-3 me-3">
        <div class="card-body">
            <div class="search-container my-4">
                <input
                        onkeyup="searchByMovieNameUser()"
                        id="searchInput"
                        type="text"
                        class="form-control"
                        placeholder="Tìm phim"
                />
                <div class="search-result">
                    <h1> 	This is Result </h1>
                </div>
            </div>
        <h3>Phim sắp chiếu</h3>
            <br>
            <div class="container"  style="display: grid; grid-template-columns: auto auto auto; grid-gap: 30px">
                <div class="d-flex justify-content-between flex-wrap"
                     th:each="movie: ${movieUpcomingList}">
                    <div class="card movie-item" style=" width:300px">
                        <img class="card-img-top img-movie"
                             th:src="@{'/img/'+${movie.poster}}"
                             alt=" " style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title" th:text="${movie.name}"></h4>
                            <a href="#" th:href="@{'/user/movie_detail/'+${movie.id}}"
                               style="margin-right:40px">
                                <button class="btn btn-outline-warning"> View detail </button>
                            </a>
                            <a href="#" th:href="@{'/user/buy_ticket/'+${movie.id}}">
                                <button class="btn btn-outline-danger"> Buy Ticket </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <h3>Phim đang chiếu</h3>
                <br>
                <div class="container"  style="display: grid; grid-template-columns: auto auto auto; grid-gap: 30px">
                    <div class="d-flex justify-content-between flex-wrap"
                         th:each="movie: ${moviePlayingList}">
                        <div class="card movie-item" style=" width:300px">
                            <img class="card-img-top img-movie"
                                 th:src="@{'/img/'+${movie.poster}}"
                                 alt=" " style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title" th:text="${movie.name}"></h4>
                                <a href="#" th:href="@{'/user/movie_detail/'+${movie.id}}"
                                   style="margin-right:40px">
                                    <button class="btn btn-outline-warning"> View detail </button>
                                </a>
                                <a href="#" th:href="@{'/user/buy_ticket/'+${movie.id}}">
                                    <button class="btn btn-outline-danger"> Buy Ticket </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
</body>
</html>

