<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normaluser/base::layout(~{::section})">

<head>
	<meta charset = "UTF-8" />
	<title> This is My watch list page </title>
</head>
<body>
	<section>	
			<div class="card ms-3 me-3">
				
				<div class="card-body">
					
					<h1 class="text-center"> My Transaction History</h1>
					
						 <table class="table mt-3">
  							<thead>
    							<tr>
	    							<th scope="col">Ticket ID</th>
	    							<th scope="col"></th>
      								<th scope="col">Movie Name</th>
      								<th scope="col">Movie Date</th>
      								<th scope="col">Ticket Price</th>
      								<th scope="col">Ticket Purchased</th>					
      								<th scope="col">Total Payable</th>
      								<th scope="col">Transaction Id</th>
      						      	<th scope="col">Transaction Number</th>
      								<th scope="col">Payment Status</th>
      				      	
    							</tr>
  							</thead>
  						<tbody>
    						<tr th:each="c : ${purchaseList} ">
    						
      							<td th:text="${c.getPurchaseId()}"></td>
	    						<td> 
    								<img scr="" class="my_movie_poster" th:src="@{'/img/'+${c.getMovieticket().getMovieImage}}" alt="movie poster" />
	   							</td>
      							
      							<td th:text="${c.getMovieticket().getMovieName()}"></td>
      							<td th:text="${c.getMovieticket().getDate()}"></td>
      							<td th:text="${c.getMovieticket().getTicketPrize()}"></td>
      							<td th:text="${c.getQuantity()}"></td>
      							<td th:text="${c.getMovieticket().getTicketPrize() * c.getQuantity()}"></td>
      							<td th:text="${c.getTransactionId()}"></td>
      						    <td th:text="${c.getTransactionNumber()}"></td>
      							<td th:switch="${c.getPaymentStatus()}"> 
									  <span th:case="0" style="background-color:yellow">On Process</span>
									  <span th:case="1" style="background-color:green">Confirmed</span>
									  <span th:case="2" style="background-color:red">Rejected</span> 
								</td>									      					
   							</tr>
  						</tbody>
					</table>
					
					<!--Pagination-->
					
					<nav aria-label="Page navigation example">
					
						  <ul th:if="${totalPages != 0}" class="pagination">
							    <li th:if="${currentPage != 0}" class="page-item">
							    <a th:href="@{'/user/show-user-transaction/'+${currentPage-1}}"  class="page-link" href="#">Previous</a></li>
							    
							    <li th:classappend="${currentPage==iter-1?'active':''}"
							    th:each="iter : ${#numbers.sequence(1,totalPages)}" 
							    class="page-item">
							    
							    <a th:href="@{'/user/show-user-transaction/'+${iter-1}}" class="page-link" href="#"> 
							    <span th:text="${iter}"> </span>
							    </a></li>
							    
							    <li th:if="${currentPage+1 != totalPages}" class="page-item">
							    <a th:href="@{'/user/show-user-transaction/'+${currentPage+1}}" class="page-link" href="#">Next</a></li>
							</ul>	
					</nav>
				</div>
			</div>
	</section>
</body>
</html>
