<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="adminuser/base::layout(~{::section})">

<head>
    <meta charset = "UTF-8" />
</head>
<body>
<section>
    <div class="card ms-3 me-3">
        <div class="card-body">
            <h1 class="text-center"> QUẢN LÝ ĐỒ ĂN VẶT </h1>
            <div class="col border-end d-flex justify-content-center align-items-center">
                <a href="#" th:href="@{/admin/add_snacks}">
                    <button class="btn bg-primary text-white boldText"> Thêm mới </button>
                </a>
            </div>

            <table class="table mt-3">
                <thead>
                <tr style="font-size: 20px;">
                    <th scope="col">Hình ảnh</th>
                    <th scope="col">Tên </th>
                    <th scope="col">Giá bán</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="snacks : ${listSnacks} ">
                    <td>
                        <img scr="" class="my_image" th:src="@{'/img/'+${snacks.image}}" alt="snack image" style="width:250px;height:250px;"/>
                    </td>
                    <td th:text="${snacks.name}"></td>
                    <td th:value="${snacks.price}" th:text="${#numbers.formatDecimal(snacks.price,3,'COMMA',0,'POINT')} + ' VNĐ'"></td>
                    <td th:text="${snacks.status}"></td>
                    <td>
                        <a th:href = "@{'/admin/update_snacks/'+${snacks.id}}" class="btn btn-outline-warning btn-sm boldText" style="width: 80px;"> Cập nhật </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul th:if="${totalPages != 0}" class="pagination boldText">
                    <li th:if="${currentPage != 0}" class="page-item">
                        <a th:href="@{'/admin/snacks_management/'+${currentPage-1}}"  class="page-link" href="#"> Trang Trước </a></li>
                    <li th:classappend="${currentPage==iter-1?'active':''}"
                        th:each="iter : ${#numbers.sequence(1,totalPages)}"
                        class="page-item">
                        <a th:href="@{'/admin/snacks_management/'+${iter-1}}" class="page-link" href="#">
                            <span th:text="${iter}"> </span>
                        </a></li>
                    <li th:if="${currentPage+1 != totalPages}" class="page-item">
                        <a th:href="@{'/admin/snacks_management/'+${currentPage+1}}" class="page-link" href="#"> Trang Sau </a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>
</body>
</html>
