<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="adminuser/base::layout(~{::section})">

<head>
    <meta charset = "UTF-8" />
</head>
<body>
<section>
    <div class="card ms-3 me-3">
        <div class="card-body">
            <h1 class="text-center"> QUẢN LÝ PHÒNG CHIẾU </h1>
            <div class="col border-end d-flex justify-content-center align-items-center">
                <a href="#" th:href="@{/admin/add_room}">
                    <button class="btn bg-primary text-white boldText"> Thêm phòng chiếu </button>
                </a>
            </div>
            <table class="table mt-3">
                <thead>
                <tr style="font-size: 20px;">
                    <th scope="col">Tên phòng</th>
                    <th scope="col">Loại màn hình</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="room : ${roomList} ">
                    <td th:text="${room.name}"></td>
                    <td th:text="${room.typeScreen}"></td>
                    <td th:text="${room.status}"></td>
                    <td>
                        <a th:href = "@{'/admin/update_room/'+${room.id}}" class="btn text-white btn-sm boldText" style="background-color: green; width: 80px;"> Cập nhật </a>
                        <a th:href = "@{'/admin/delete_room/'+${room.id}}" class="btn text-white btn-sm boldText" style="background-color: red; width: 80px;"> Xóa </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul th:if="${totalPages != 0}" class="pagination boldText">
                    <li th:if="${currentPage != 0}" class="page-item">
                        <a th:href="@{'/admin/room_management/'+${currentPage-1}}"  class="page-link" href="#"> Trang Trước </a></li>
                    <li th:classappend="${currentPage==iter-1?'active':''}"
                        th:each="iter : ${#numbers.sequence(1,totalPages)}"
                        class="page-item">
                        <a th:href="@{'/admin/room_management/'+${iter-1}}" class="page-link" href="#">
                            <span th:text="${iter}"> </span>
                        </a></li>
                    <li th:if="${currentPage+1 != totalPages}" class="page-item">
                        <a th:href="@{'/admin/room_management/'+${currentPage+1}}" class="page-link" href="#"> Trang Sau </a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>
</body>
</html>
