<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="adminuser/base::layout(~{::section})">

<head>
    <meta charset = "UTF-8" />
    <title> This is Room manage page </title>
</head>
<body>
<section>
    <div class="card ms-3 me-3">

        <div class="card-body">

            <h1 class="text-center"> Room Management </h1>
            <a href="#" th:href="@{/admin/add_room}">
                <button class="btn btn-light-sm"> Add room </button>
            </a>
            <table class="table mt-3">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type Screen</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="room : ${roomList} ">
                    <td th:text="${room.name}"></td>
                    <td th:text="${room.typeScreen}"></td>
                    <td th:text="${room.status}"></td>
                    <td>
                        <a th:href = "@{'/admin/update_room/'+${room.id}}" class="btn btn-primary btn-sm"> Update </a>
                        <a th:href = "@{'/admin/delete_room/'+${room.id}}" class="btn btn-primary btn-sm"> Delete </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul th:if="${totalPages != 0}" class="pagination">
                    <li th:if="${currentPage != 0}" class="page-item">
                        <a th:href="@{'/admin/room_management/'+${currentPage-1}}"  class="page-link" href="#">Previous</a></li>
                    <li th:classappend="${currentPage==iter-1?'active':''}"
                        th:each="iter : ${#numbers.sequence(1,totalPages)}"
                        class="page-item">
                        <a th:href="@{'/admin/room_management/'+${iter-1}}" class="page-link" href="#">
                            <span th:text="${iter}"> </span>
                        </a></li>
                    <li th:if="${currentPage+1 != totalPages}" class="page-item">
                        <a th:href="@{'/admin/room_management/'+${currentPage+1}}" class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>
</body>
</html>
