<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
    <meta charset = "UTF-8" />
    <title> This is change password  page </title>
</head>
<body>
<section>
    <div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" th:action="@{/change_password}" action="#" method="post">
                        <h1 class="text-center">Đổi mật khẩu</h1>
                        <div th:if="${error}" class="alert alert-danger fixed-bottom alert-dismissible fade show" style="width: 260px">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            Mật khẩu hiện tại sai
                        </div>
                        <div th:if="${error_confirm}" class="alert alert-danger fixed-bottom alert-dismissible fade show" style="width: 260px">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            Mật khẩu nhập lại sai
                        </div>
                        <div th:if="${success}" class="alert alert-success fixed-bottom alert-dismissible fade show" style="width: 280px">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            Đổi mật khẩu thành công
                        </div>
                        <div class="form-group">
                            <label for="old_password" class="form-label">Mật khẩu cũ:</label><br>
                            <input type="password" name="currentPassword" id="old_password" class="form-control">
                            <span toggle="#password" class="toggle-password"><i class="fa fa-eye"></i></span>
                        </div>
                        <div class="form-group">
                            <label for="password" class="form-label">Mật khẩu mới:</label><br>
                            <input type="password" name="newPassword" id="password" class="form-control">
                            <span toggle="#password" class="toggle-password"><i class="fa fa-eye"></i></span>
                        </div>
                        <div class="form-group">
                            <label for="password" class="form-label">Nhập lại khẩu mới:</label><br>
                            <input type="password" name="confirmPassword" id="confirmpassword" class="form-control">
                            <span toggle="#password" class="toggle-password"><i class="fa fa-eye"></i></span>
                        </div>
                        <div class="container text-center"  style="margin-top: 15px">
                            <input type="submit" name="submit" class="btn bg-primary text-white boldText" value="Đổi mật khẩu">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
</body>
</html>
