<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset = "UTF-8" />
	<title> This is home page </title>
</head>
<body>
	<section class="banner" >
		<div class="container-fluid m1-1">
			<div class="row">
				<div class="bannertext">
					 <h1 class="bannertext1"> Xem phim màn ảnh rộng, âm thanh chất lượng </h1>
					 <h2 class="bannertext2"> Bạn đã sẵn sàng xem chưa? </h2>
				</div>
			</div>
		</div>
	</section>
</body>
</html>



						
					
