<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset = "UTF-8" />
	<title> This is signup page </title>
</head>
<body>
	<section class="banner">
		<div class = "container">
			<div class="row" style="padding-top: 80px">
				<div class = "col-md-8 offset-md-2">
					<div class="my-card">
					 	<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert " role="alert">
  							<p class = "text-center" th:text = "${session.message.content}"> </p>
  							<th:blcok th:text = "${#session.removeAttribute('message')}"> </th:blcok>
						</div>
						<h1 class = "text-center">Đăng ký</h1>
						<form  action="" 
							   th:action="@{/do_register}" 
							   method="post" 
							   th:object="${user}"
					  	>
                          <!-- name field-->
							<div class="mb-3">
   								<label for="userName_field" class="form-label">Tên của bạn:</label>
    						 	<input
    						 	    name = "userName" 
    						 		type="text" 
    						 		class="form-control" 
    						 		id="userName_field" 
    						 		placeholder="Enter Here"
    						 		required
    						 		th:value="${user.userName}" 
    						 	/>   							
  							</div>
  							 						
                          <!-- Phone field-->
							<div class="mb-3">   								
   								<label for="phone_field" class="form-label">Số điện thoại:</label>    						 	
    						 	<input 
    						 	    name = "phone" 
    						 		type="tel" 
    						 		class="form-control" 
    						 		id="phone_field" 
    						 		placeholder="Enter Here"
    						 		required
    						 		th:value="${user.phone}"
    						 	/>   							
  							</div>

                          <!-- email field-->
							
							<div class="mb-3">   								
   								<label for="email_field" class="form-label">Email của bạn:</label>
    						 	<input 
    						 		name = "email" 
    						 		type="email" 
    						 		class="form-control" 
    						 		id="email_field" 
    						 		aria-describedby="emailHelp"
    						 		placeholder="Enter Here"
    						 		required
    						 		th:value="${user.email}"
    						 	/> 							
  							</div>
  						
                          <!-- password field-->							
							<div class="mb-3"> 								
   								<label for="password_field" class="form-label">Mật khẩu của bạn:</label>
    						 	
    						 	<input 
    						 		name = "password"
    						 		type="password" 
    						 		class="form-control" 
    						 		id="password_field" 
    						 		aria-describedby="passwordHelpInline"
    						 		placeholder="Enter Here"
    						 		required
    						 	/>  							
  							</div>
  							  						
  						
  						<!-- about field-->
  							<div class="mb-3">
							  <label for="exampleFormControlTextarea1" class="form-label">Thông tin về bạn:</label>
  							  <textarea name = "about"  th:text="${user.about}"  placeholder = "Giới thiệu về mình nào." class="form-control"  rows="3"></textarea>
							</div>

  						<!-- terms and condition-->
	  						<div class="mb-3 form-check checkbox-lg">
    						 	<input
									type="checkbox"
    						 		name = "agreement"
    						 		class="form-check-input"
    						 		id="agreement"
    						 	/>
    							<label for="agreement" class="form-check-label" style="color: white">Tôi đồng ý các điều khoản.</label>
  							</div>
  							
  						  <!-- close terms and condition-->
  							<div class="container text-center">
  								<button type = "submit" class="btn bg-primary text-white" style="width: 100px">
  									Đăng ký
  								</button>
  								<button type = "reset" class="btn bg-primary text-white" style="width: 100px">
  									Xóa
  								</button>
  							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
