<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normaluser/base::layout(~{::section})">
<head>
    <meta charset = "UTF-8" />
    <title> This is movie detail page. </title>
</head>
<body>
<section>
    <div class="card ms-3 me-3">
    <div class="card-body">
    <table>
        <tr>
            <td>
                <div class="my_div_left">
                    <img scr=""  class="my_movie_poster_single" th:src="@{'/img/'+${movie.poster}}" alt="movie poster" />
                </div>
            </td>
            <td>
                <div style="margin-left: 50px;">
                    <h2 th:text= "${movie.name}"></h2>
                    <h4 class="mt-3">           <pre>Thời lượng:   <span th:text= "${movie.time}"> </span> </pre> </h4>
                    <h4 class="mt-3">           <pre>Thể loại:     <span th:text="${#strings.listJoin(movie.genre, ',')}"> </span> </pre> </h4>
                    <h4 class="mt-3">           <pre>Đạo diễn:     <span th:text= "${movie.director}"> </span></pre> </h4>
                    <h4 class="mt-3">           <pre>Diễn viên:    <span th:text= "${movie.actor}"> </span></pre> </h4>
                    <h4 class="mt-3">           <pre>Khởi chiếu:   <span th:text= "${movie.start}"> </span></pre> </h4>
                    <h4 class="mt-3">           <pre>Điểm:         <span th:text="${avg}+' '"></span><i class="fas fa-star" style="color: orange"></i></span></pre></h4>
                </div>
                <div style="margin-left: 50px;margin-top: 15px">
                    <a href="#" th:href="@{'/user/buy_ticket/'+${movie.id}}" >
                        <button class="btn bg-primary text-white boldText"> Mua vé </button>
                    </a>
                    <a href="#" th:href="@{'/user/movie_favorite/'+${movie.id}}" >
                        <button class="btn bg-primary text-white boldText"> + Yêu thích </button>
                    </a>
                </div>
            </td>
        </tr>
    </table>
        <br>
        <br>
    <div class="post">
        <ul>
            <h1 >Bình luận</h1>
            <br>
            <li th:each=" comment: ${commentList} ">
                <div class="thumbnail">
                    <img scr="" class="user_avatar_comment" th:src="@{'/img/'+${comment.user.imgUrl}}" alt="" />
                </div>
                <div class="meta">
                    <h2 th:value="${comment.user.userName}" th:text="${comment.user.userName}"></h2>
                    <span th:each="i : ${#numbers.sequence(1,5)}"
                    onclick="starmark(this)"
                    th:id="${i}+'-one'"
                    th:classappend="${i} <= ${comment.rating} ? 'checked' : 'unchecked'"
                    style="font-size:20px;cursor:pointer;"
                    class="fa fa-star"
                    ></span>
                    <p th:value="${comment.commentString}" th:text="${comment.commentString}"></p>
                </div>
            </li>
        </ul>
    </div>
    </div>
    </div>
</section>
</body>
</html>
