<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="adminuser/base::layout(~{::section})">

<head>
    <meta charset = "UTF-8" />
</head>
<body>
<section>
    <div class="card me-3 ms-3">
        <div class="card-body">
            <h1 class="text-center"> THÊM LỊCH CHIẾU </h1>
            <div class="container-fluid m1-1">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <form action="#"
                        th:object="${showtimes}"
                        enctype="multipart/form-data"
                        method="POST"
                        th:action="@{'/admin/add_showtimes_process/'+${theaterId}}"
                        >

                            <!--Movie-->
                            <div class="form-group">
                                <label  for="movie_field" class="form-label">Phim:</label><br>
                                <select class="form-control"
                                        name="movie"
                                        id="movie_field"
                                        required>
                                    <option>--Chọn phim--</option>
                                    <option
                                    th:each="movie : ${movieList}"
                                    th:value="${movie.id}"
                                    th:text="${movie.name}"></option>
                                </select>
                            </div>

                            <!--Room-->
                            <div class="form-group">
                                <label  for="room_field" class="form-label">Phòng chiếu:</label><br>
                                <select class="form-control"
                                        name="room"
                                        id="room_field"
                                        required>
                                    <option>--Chọn phòng--</option>
                                    <option
                                            th:each="room : ${roomList}"
                                            th:value="${room.id}"
                                            th:text="${room.name} +'-'+ ${room.typeScreen}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label  for="time_field" class="form-label">Giờ chiếu:</label><br>
                                <input
                                        name="time"
                                        type="time"
                                        class="form-control"
                                        id="time_field"
                                        placeholder="Nhập giờ chiếu"
                                        required
                                />
                            </div>
                            <div class="form-group">
                                <label  for="date_field" class="form-label">Ngày chiếu:</label><br>
                                <input
                                        name="date"
                                        type="date"
                                        class="form-control"
                                        id="date_field"
                                        placeholder="Chọn ngày chiếu"
                                        required
                                />
                            </div>
                            <br>
                            <br>
                            <div class="container text-center mb-3">
                                <button class="btn bg-primary text-white boldText"> Thêm lịch chiếu </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
