<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="adminuser/base::layout(~{::section})">

<head>
    <meta charset = "UTF-8" />
    <title> This is showtimes manage page </title>
</head>
<body>
<section>
    <div class="card ms-3 me-3">

        <div class="card-body">

            <h1 class="text-center"> QUẢN LÝ LỊCH CHIẾU </h1>
            <div class="col border-end d-flex justify-content-center align-items-center">
                <a href="#" th:href="@{'/admin/add_showtimes/'+${theaterId}}">
                    <button class="btn bg-primary text-white boldText"> Thêm lịch chiếu </button>
                </a>
            </div>
            <table class="table mt-3">
                <thead>
                <tr style="font-size: 20px;">
                    <th scope="col">Phim</th>
                    <th scope="col">Tên phim</th>
                    <th scope="col">Phòng chiếu</th>
                    <th scope="col">Giờ chiếu</th>
                    <th scope="col">Ngày chiếu</th>
                    <th scope="col">Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="showtimes : ${showtimesList} ">
                    <td>
                        <img scr="" class="my_movie_poster" th:src="@{'/img/'+${showtimes.movie.poster}}" alt="movie poster" />
                    </td>
                    <td th:text="${showtimes.movie.name}"></td>
                    <td th:text="${showtimes.room.name}"></td>
                    <td th:text="${showtimes.time}"></td>
                    <td th:text="${showtimes.date}"></td>
                    <td>
                        <a th:href = "@{'/admin/update_showtimes/'+${showtimes.id}}" class="btn btn-outline-warning btn-sm boldText" style="width: 80px;"> Cập nhật </a>
                        <a th:href = "@{'/admin/cancel_showtimes/'+${showtimes.id}}" class="btn btn-cus btn-sm boldText" style="width: 80px;"> Hủy lịch </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul th:if="${totalPages != 0}" class="pagination boldText">
                    <li th:if="${currentPage != 0}" class="page-item">
                        <a th:href="@{'/admin/showtimes_management/'+${currentPage-1}}"  class="page-link" href="#"> Trang Trước </a></li>
                    <li th:classappend="${currentPage==iter-1?'active':''}"
                        th:each="iter : ${#numbers.sequence(1,totalPages)}"
                        class="page-item">
                        <a th:href="@{'/admin/showtimes_management/'+${iter-1}}" class="page-link" href="#">
                            <span th:text="${iter}"> </span>
                        </a></li>
                    <li th:if="${currentPage+1 != totalPages}" class="page-item">
                        <a th:href="@{'/admin/showtimes_management/'+${currentPage+1}}" class="page-link" href="#"> Trang Sau </a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>
</body>
</html>
