<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="adminuser/base::layout(~{::section})">

<head>
    <meta charset = "UTF-8" />
    <title> This is showtime management. </title>
</head>
<body>
<section>
    <div class="card me-3 ms-3">
        <div class="card-body">

            <h1 class="text-center"> CẬP NHẬT LỊCH CHIẾU </h1>
            <div class="container-fluid m1-1">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <form action="#"
                        th:object="${showtimes}"
                        enctype="multipart/form-data"
                        method="POST"
                        th:action="@{'/admin/update_showtimes_process/'+${showtimes.id}}"
                        >
                            <div class="form-group">
                                <label  for="movie_field" class="form-label">Phim:</label><br>
                                <select
                                        class="form-control"
                                        name="movie"
                                        id="movie_field"
                                        required>
                                    <option th:value="${showtimes.movie.id}"
                                            th:text="${showtimes.movie.name}"></option>
                                    <option
                                            th:each="movie : ${movieList}"
                                            th:value="${movie.id}"
                                            th:text="${movie.name}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label  for="movie_field" class="form-label">Phòng chiếu:</label><br>
                                <select
                                        class="form-control"
                                        name="room"
                                        id="room_field"
                                        required>
                                    <option th:value="${showtimes.room.id}"
                                            th:text="${showtimes.room.name}"></option>
                                    <option
                                            th:each="room : ${roomList}"
                                            th:value="${room.id}"
                                            th:text="${room.name}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label  for="movie_field" class="form-label">Giờ chiếu:</label><br>
                                <input
                                        th:value="${showtimes.time}"
                                        name="time"
                                        type="time"
                                        class="form-control"
                                        id="time_field"
                                        placeholder="Cập nhật giờ chiếu"
                                />
                            </div>
                            <div class="form-group">
                                <label  for="movie_field" class="form-label">Ngày chiếu:</label><br>
                                <input
                                        th:value="${showtimes.date}"
                                        name="date"
                                        type="date"
                                        class="form-control"
                                        id="date_field"
                                        placeholder="Cập nhật ngày chiếu"
                                />
                            </div>
                            <div class="form-group">
                                <label  for="movie_field" class="form-label">Giá vé:</label><br>
                                <input
                                        th:value="${showtimes.price}"
                                        name="price"
                                        type="number"
                                        class="form-control"
                                        id="movie_genre_field"
                                        placeholder="Cập nhật giá vé"
                                />
                            </div>
                            <br>
                            <br>
                            <div class="container text-center mb-3">
                                <button class="btn bg-primary text-white boldText"> Cập nhật </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
