<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="adminuser/base::layout(~{::section})">

<head>
    <meta charset = "UTF-8" />
</head>
<body>
<section>
    <div class="card ms-3 me-3">

        <div class="card-body">

            <h1 class="text-center"> QUẢN LÝ ĐẶT VÉ </h1>
            <table class="table mt-3">
                <thead>
                <tr style="font-size: 20px;">
                    <th scope="col">Phim</th>
                    <th scope="col">Thời gian chiếu</th>
                    <th scope="col">Ghế ngồi</th>
                    <th scope="col">Khách hàng</th>
                    <th scope="col">Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="booking : ${bookingList} ">
                    <td th:text="${booking.showtimes.movie.name}"></td>
                    <td th:text="${booking.showtimes.time}+' ngày '+${booking.showtimes.date}"></td>
                    <td th:text="${#strings.listJoin(booking.seatList, ' ')}"></td>
                    <td th:text="${booking.user.email}"></td>
                    <td>
                        <a th:href = "@{'/admin/confirm_booking/'+${booking.id}}" class="btn btn-outline-warning btn-sm boldText" style="width: 80px;"> Xác nhận </a>
                        <a th:href = "@{'/admin/cancel_booking/'+${booking.id}}" class="btn btn-cus btn-sm boldText" style="width: 80px;"> Hủy đặt </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul th:if="${totalPages != 0}" class="pagination boldText">
                    <li th:if="${currentPage != 0}" class="page-item">
                        <a th:href="@{'/admin/booking_management/'+${currentPage-1}}"  class="page-link" href="#"> Trang trước </a></li>
                    <li th:classappend="${currentPage==iter-1?'active':''}"
                        th:each="iter : ${#numbers.sequence(1,totalPages)}"
                        class="page-item">
                        <a th:href="@{'/admin/booking_management/'+${iter-1}}" class="page-link" href="#">
                            <span th:text="${iter}"> </span>
                        </a></li>
                    <li th:if="${currentPage+1 != totalPages}" class="page-item">
                        <a th:href="@{'/admin/booking_management/'+${currentPage+1}}" class="page-link" href="#"> Trang Sau </a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>
</body>
</html>
