<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href = "@{/css/style.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.15.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title th:text="${title}">Base Html</title>
</head>
<body>

<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <!--change -->
        <a class="navbar-brand brandtext" href="#">Cinezo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--change position-->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-uppercase">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/}" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="#" tabindex="-1" aria-disabled="true">
                        <span th:text="${user.userName}"> </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" href="#" tabindex="-1" aria-disabled="true">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- start of sidebar-->
<div class="sidebar mt-5">
    <span onclick="toggleSidebar()" class="crossBtn"> &times; </span>
    <a href="#" th:href="@{/admin/room_management/0}" class="item"> <i class="fas fa-video"></i> Phòng chiếu</a>
    <a href="#" th:href="@{/admin/movie_management/0}" class="item"><i class="fas fa-film"></i> Phim</a>
    <a href="#" th:href="@{/admin/showtimes_management/0}" class="item"> <i class="fas fa-play-circle"></i> Lịch chiếu </a>
    <a href="#" th:href="@{/admin/booking_management/0}" class="item"><i class="fas fa-money-check-alt"></i> Đặt vé</a>
    <a href="#" th:href="@{/admin/statistic_chart}" class="item"><i class="fas fa-chart-line"></i></i></i> Thống kê</a>
    <a href="#" th:href="@{/admin/admin_profile}" class="item"><i class="fas fa-users-cog"></i> Thông tin cá nhân</a>
    <a href="#" th:href="@{/logout}" class="item"> <i class="fas fa-sign-out-alt"></i> Đăng xuất </a>
    <div class="divider"> </div>
</div>

<!-- start content area -->
<div class="content mt-3">
    <i onclick="toggleSidebar()" class="fas fa-bars m-3"> </i>
    <div th:replace="${content}"> </div>
</div>
<!-- end content area -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script	th:src = "@{/js/script.js}" > </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
