<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="adminuser/base::layout(~{::section})">

<head>
    <meta charset = "UTF-8" />
</head>
<body>
<section>
    <div class="card ms-3 me-3">
        <div class="card-body">
            <h1 class="text-center"> Quản lý phim </h1>
            <a href="#" th:href="@{/admin/add_movie}">
                <button class="btn bg-primary text-white"> Thêm phim mới </button>
            </a>
            <!--search-->
            <div class="search-container my-4">
                <input
                        onkeyup="searchByMovieNameAdmin()"
                        id="searchInput"
                        type="text"
                        class="form-control"
                        placeholder="Tìm phim"
                />
                <div class="search-result-movie"></div>
            </div>

            <table class="table mt-3">
                <thead>
                <tr>
                    <th scope="col">Poster</th>
                    <th scope="col">Tên phim</th>
                    <th scope="col">Khởi chiếu</th>
                    <th scope="col">Kết thúc</th>
                    <th scope="col">Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="movie : ${movieList} ">
                    <td>
                        <img scr="" class="my_movie_poster" th:src="@{'/img/'+${movie.poster}}" alt="movie poster" />
                    </td>
                    <td th:text="${movie.name}"></td>
                    <td th:text="${movie.start}"></td>
                    <td th:text="${movie.end}"></td>
                    <td>
                        <a th:href = "@{'/admin/update_movie/'+${movie.id}}" class="btn bg-primary text-white btn-sm"> Cập nhật </a>
                        <a th:href = "@{'/admin/delete_movie/'+${movie.id}}" class="btn bg-primary text-white btn-sm"> Xóa </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul th:if="${totalPages != 0}" class="pagination">
                    <li th:if="${currentPage != 0}" class="page-item">
                        <a th:href="@{'/admin/movie_management/'+${currentPage-1}}"  class="page-link" href="#">Trước</a></li>
                    <li th:classappend="${currentPage==iter-1?'active':''}"
                        th:each="iter : ${#numbers.sequence(1,totalPages)}"
                        class="page-item">
                        <a th:href="@{'/admin/movie_management/'+${iter-1}}" class="page-link" href="#">
                            <span th:text="${iter}"> </span>
                        </a></li>
                    <li th:if="${currentPage+1 != totalPages}" class="page-item">
                        <a th:href="@{'/admin/movie_management/'+${currentPage+1}}" class="page-link" href="#">Sau</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>
</body>
</html>
