body{
	
	background : white!important;
}

.bg-primary{
	
	background-color: rgba(219, 27, 27, 0.5)!important;
}

.banner{
	background-image: linear-gradient(to bottom, black, transparent), url(../img/banner.jpg);
	background-size:cover;
	position: relative;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-blend-mode: darken;
	background-repeat: no-repeat;
	background-position: center bottom;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bannertext{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
}

.bannertext1{
	font-size: 55px;
}

.bannertext2{
	font-size: 30px;
}

.brandtext{
	font-size: 30px;
	font-weight: bold;
	padding-left: 10px;
}

.my-card{
	
	padding: 20px;
	background: #FFFFFF;
}

#bannerimage {
	width: 100%;
	background-image: url(../img/dashboard_banner.jpg);
	height: 305px;
	background-position: center;
}


#login .container #login-row #login-column #login-box {
	margin-top: 120px;
	max-width: 600px;
	height: 420px;
}
#login .container #login-row #login-column #login-box #login-form {
	padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
	margin-top: -85px;
}

/* side bar */

@media only screen and (max-width: 600 px){
	.sidebar{
		display: none;
		width: 80%!important;
		background:white;
		height: 100vh;
		position: fixed;
		padding-top: 45px;
	}
	.content{
		margin-left: 0%!important;
	}
}

.sidebar{
	width: 18%;
	background:white;
	height: 100%;
	position: fixed;
	padding-top: 45px;
}

.sidebar a{
	display:block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color:gray;
}

.sidebar a:hover{
	background:#e2e2e2;
}

.sidebar .divider{
	height: 0.5px;
	width: 100%;
	background: #e2e2e2;
	margin-top: 10px;
}

.content{
	margin-left: 20%;
}

.sidebar .crossBtn{
	position: absolute;
	top: 0;
	right: 35px;
	font-size: 36px;
	cursor: pointer;
}

.my_movie_poster{
	width: 200px;
	height: 200px;
	object-fit:cover;
	border:3px solid black;
}

.my_movie_poster_single{
	width: 350px;
	height: 350px;
	object-fit:cover;
}

.my_user_profile{
	width: 350px;
	height: 350px;
	object-fit:cover;
}

.my_user_profile2{
	width: 250px;
	height: 250px;
	object-fit:cover;
}

.my_div_right{
	text-align: right;
	width:85.33%;
}

.my_div_left{
	width:33.33%;
}

.my_div_middle{
	width:60.33%;
	margin : 0 auto;
}

/*search css*/

.search-container{
	position: relative;
}

.search-result{
	position: absolute;
	background: white;
	width: 100%;
	padding: 10px;
	border: 1px solid gray;
	display: none;
	z-index: 999;
}
.text-register {
	color: #e4a8a8
}
.checked {
    color: orange;

}
.unchecked{
    color: grey
}
.post li{
     display:flex;
     gap: 30px;
     margin-bottom:30px;
}

.post li thumbnail{
    position: relative;
    width: 100px;
    height:100px;
    flex-shrink: 0;
}
.post li thumbnail img{
     object-fit: cover;
     height:100%;
     width:100%;
}
.user_avatar_comment{
    object-fit: cover;
    width: 70px;
    height:70px;
}

