body{
	font-family: 'Segoe UI', sans-serif;
	background : white!important;
}

.bg-primary{
	background-color: rgba(219, 27, 27, 0.5)!important;
}

/* banner */
.banner{
	background-image: linear-gradient(to bottom, black, transparent), url(../img/banner.jpg);
	background-size:cover;
	position: relative;
	inline-size: 100%;
	block-size: 100vh;
	inset-block-start: 0;
	inset-inline-start: 0;
	background-blend-mode: darken;
	background-repeat: no-repeat;
	background-position: center bottom;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bannertext{
	position: absolute;
	inset-block-start: 50%;
	inset-inline-start: 50%;
	transform: translate(-50%, -50%);
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
}

.brandtext{
	font-size: 35px;
	font-weight: bold;
	padding-inline-start: 10px;
}

.my-card{
	padding: 20px;
	background: #FFFFFF;
}

#bannerimage{
	inline-size: 100%;
	background-image: url(../img/dashboard_banner.jpg);
	block-size: 305px;
	background-position: center;
}

/* text */
.boldText{
	font-weight: bold;
}

/* custom button */
.btn-cus{
	color: #FF7171;
    background-color: #fff;
    border-width: 1px;
    border-color: #FF7171;
}
.btn-cus:hover{
    background-color: #FF7171;
	color: black;

}


#login .container #login-row #login-column #login-box {
	margin-block-start: 230px;
	max-inline-size: 600px;
	block-size: 340px;
	font-size: 16px;
}
#login .container #login-row #login-column #login-box #login-form {
	padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
	margin-block-start: -85px;
}

/* side bar */

@media only screen and (max-inline-size: 600px){
	.sidebar{
		display: none;
		inline-size: 80%!important;
		background:white;
		block-size: 100vh;
		position: fixed;
		padding-block-start: 45px;
	}
	.content{
		margin-inline-start: 0%!important;
	}
}

.sidebar{
	inline-size: 18%;
	background:#fff;
	block-size: 100%;
	position: fixed;
	padding-block-start: 45px;
}

.sidebar a{
	display:block;
	inline-size: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color:gray;
}

.sidebar a:hover{
	background:#e2e2e2;
}

.sidebar .divider{
	block-size: 0.5px;
	inline-size: 100%;
	background: #e2e2e2;
	margin-block-start: 10px;
}

.content{
	margin-inline-start: 20%;
}

.sidebar .crossBtn{
	position: absolute;
	inset-block-start: 0;
	inset-inline-end: 35px;
	font-size: 36px;
	cursor: pointer;
}

.my_movie_poster{
	inline-size: 200px;
	block-size: 200px;
	object-fit:cover;
	border:3px solid black;
}

.my_movie_poster_single{
	inline-size: 350px;
	block-size: 350px;
	object-fit:cover;
}

.my_user_profile{
	inline-size: 350px;
	block-size: 350px;
	object-fit:cover;
}

.my_user_profile2{
	inline-size: 250px;
	block-size: 250px;
	object-fit:cover;
}

.my_div_right{
	text-align: end;
	inline-size:85.33%;
}

.my_div_left{
	inline-size:33.33%;
}

.my_div_middle{
	inline-size:60.33%;
	margin : 0 auto;
}

/*search css*/
.list-group-item:hover{
    color:#e4a8a8
}
.list-group-action:hover
{
    color:#e4a8a8
}
.search-container{
	position: relative;
}
.search-result-movie{
    display: grid;
    grid-gap: 30px
}
.search-result{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 30px;
}
.text-register {
	color: #e4a8a8
}
.checked {
    color: orange;

}
.unchecked{
    color: grey
}

.user_avatar_comment{
    object-fit: cover;
    inline-size: 70px;
    block-size:70px;
}
.seatSelection {
	text-align: center;
	padding: 5px;
	margin: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.seatsReceipt {text-align: center;}

.seatNumber {
    display: inline-block;
	padding: 10px;
	background-color: rgba(219, 27, 27, 0.5);
	color: #FFF;
	border-radius: 5px;
	cursor: default;
	block-size: 40px;
	inline-size: 40px;
	line-height: 25px;
	text-align: center;
}
.seatSpace {
	display: inline;
	padding: 10px;
	background-color: #fff;
	color: #FFF;
	border-radius: 5px;
	cursor: default;
	block-size: 25px;
	inline-size: 25px;
	line-height: 25px;
	text-align: center;
}

.seatRow {padding: 10px;}

.seatSelected {
	background-color: #fcb103;
	color: black;
}

.seatUnavailable {background-color: gray;}

.seatRowNumber {
	clear: none;
	display: inline;
}

.hidden {display: none;}

.seatsAmount {max-inline-size: 2em;}
.post li{
    display:flex;
    gap:15px;
    margin-block-end: 15px;
}
.post li thumbnail{
    position:relative;
    inline-size:100px;
    block-size:100px;
    flex-shrink:0;
}
.post li thumbnail img{
    object-fit:cover;
    inline-size:100%;
    block-size:100%
}
.post li .meta h2{
    font-size:20px;
    margin-block-end:10px;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: rgba(219, 27, 27, 0.5);;
    border-color: rgba(219, 27, 27, 0.5);;
}
.page-item .page-link {
    z-index: 3;
    color: #fff;
    background-color: rgba(219, 27, 27, 0.5);;
    border-color: rgba(219, 27, 27, 0.5);;
}


